@charset "UTF-8";

.main-mapper {
	width : 60%;
	margin : 0 28%;
}



.ii{
	display:inline-block; 
	margin-right:50px;
}

.oi{
	display:inline-block; 
	margin-right:30px;
}

input {
  width:380px;
  font-size:20px;

}

.genric-btn.success{
	margin-left:250px;
}

.subject-name{
	margin-left:235px;
}

.subject-name2{
	margin-left:145px;
}

